* {
    box-sizing: border-box;
}

#appbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0px;
}

.appbarActions {
    list-style-type: none;
}

.appbarAction {
    display: inline-block;
    margin: 0 30px;
    font-size: 1.1em;
    font-weight: bold;
}

.appbarLink {
    text-decoration: none;
    color: white;
}

.appbarLink :after {
    text-decoration: underline;
}

#bannerImage {
    background-image: url('images/brownwindmill.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    filter: brightness(0.5);
}

#bannerImage {
    filter: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    line-height: 2;
    text-align: center;
}

.brandText {
    color: aqua;
    font-weight: bolder;
    font-size: 1.5em;
}

.brandText span {
    color: blue;
}

div {
    border-style: solid;
    border-width: 1px;
    border-color: red;
}

#exploreButton {
    background-color: blue;
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
    padding: 8px 20px;
    border: none;
    border-radius: 2px;
}

#introDiv {
    width: 500px;
    margin: 0px auto;
}

#introHeader {
    color: aqua;
}

#introHeader span {
    color: white;
}

#introParagraph {
    color: white;
    font-weight: bold;
}

#wushengTempleDiv {
    color: white;
}